
<head>
<link rel="stylesheet" href="/css/main.css">
    <h1 style = "text-align: center;">The Barrel Boulevard Co.</h1>
</head>
<body>
<nav style="display: flex; margin-right: 1em;">
    <h2 align="center" style="font-family: 'Courier New', Courier, monospace;padding-left:30px; padding-right:30px">Login</a></h2>
    <h2 align="center" style="font-family: 'Courier New', Courier, monospace;padding-left:30px; padding-right:30px"><a href="/listprod" style = "text-decoration:none">Begin Shopping</a></h2>
    <h2 align="center" style="font-family: 'Courier New', Courier, monospace;padding-left:30px; padding-right:30px"><a href="/listorder" style = "text-decoration:none">List Orders</a></h2>
    <h2 align="center" style="font-family: 'Courier New', Courier, monospace;padding-left:30px; padding-right:30px"><a href="/customer" style = "text-decoration:none">Customer Info</a></h2>
    <h2 align="center" style="font-family: 'Courier New', Courier, monospace;padding-left:30px; padding-right:30px"><a href="/admin" style = "text-decoration:none">Administrators</a></h2>
    <h2 align="center" style="font-family: 'Courier New', Courier, monospace;padding-left:30px; padding-right:30px"><a href="/logout"style = "text-decoration:none">Log out</a></h2>
</nav>

<div>
{{body}}
{{body}}
</div>
<div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2567.808522044828!2d-119.39772668453135!3d49.93993403189897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537ded7d9ed532bf%3A0xae24b3dbcf561daa!2sUBC%20Okanagan%20Library!5e0!3m2!1sen!2sca!4v1639111016281!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
</body>
{{#if username}}
    <h3 align="center">Signed in as: {{username}}</h3>
{{/if}}