<h1>The Barrel Boulevard</h1>
<ul class="list-group">
  <li class="list-group-item"><a href="/login">Login</a></li>
  <li class="list-group-item"><a href="/listprod">Begin Shopping</a></li>
  <li class="list-group-item"><a href="/listorder">List All Orders</a></li>
  <li class="list-group-item"><a href="/customer">Customer Info</a></li>
  <li class="list-group-item"><a href="/admin">Administrators</a></li>
  <li class="list-group-item"><a href="/logout">Log out</a></li>
</ul>
{{#if username}}
    <h3 align="center">Signed in as: {{username}}</h3>
{{/if}}