

{{#if username}}
    <h3 align="center">Signed in as: {{username}}</h3>
{{/if}}

    <head>
        <title> The Cellar (A whiskey paradise) </title>
    </head>

    <body style="background: #F2F2F2;">
        <h1 align="center" style="font-family: 'Courier New'; padding: 1em; border-width: 2em; border-radius: 5em; background:#f8decb; font-weight: bold;">The Cellar (A whiskey paradise)</h1>
        <nav style="display: flex; margin-right: 1em;">
            <h2 align="center" style="font-family: 'Courier New', Courier, monospace;padding-left:30px; padding-right:30px"><a href="/listprod" style= "text-decoration: none;">Begin Shopping </a></h2>
            <h2 align="center" style="font-family: 'Courier New', Courier, monospace;monospace;padding-left:30px; padding-right:30px"> <a href="/listorder" style="text-decoration: none;">List All Orders</a></h2>
            <h2 align="center" style="font-family: 'Courier New', Courier, monospace;monospace;padding-left:30px; padding-right:30px"><a href="/customer" style="text-decoration: none;">Customer Info</a></h2>
            <h2 align="center" style="font-family: 'Courier New', Courier, monospace;monospace;padding-left:30px; padding-right:30px"><a href="/admin" style="text-decoration: none;">Administrators</a></h2>
            <h2 align="center" style="font-family: 'Courier New', Courier, monospace;monospace;padding-left:30px; padding-right:30px"><a href="/login" style="text-decoration: none;">Login</a></h2>
            <h2 align="center" style="font-family: 'Courier New', Courier, monospace;monospace;padding-left:30px; padding-right:30px"><a href="/logout" style="text-decoration: none;">Log out</a></h2>
        </nav>

        <section style = "background: rgb(253, 240, 209); font-family: 'Courier New'; border-width: 2em; border-radius:2.5em; padding: 0.5em">
            <div>            
                <h1 style="font-weight:bold; text-align: center">Our Mission</h1>
            </div>
            <div style="text-align:center">        
                <p style="font-weight: bold">At Exquisite Technology inc., we strive to provide the western world with innovative and cutting edge hardware and technology to improve the vast lifestyles of our consumers. Our top of the line hardware and software is simple to install and use, providing a seamless transition for all consumers of any age and lifestyle. 
                From the stay at home mom to the full time streamer, we got something for everyone. </p>
            </div>

            <div>            
                <h1 style="font-weight:bold; text-align:center">Executive Statement</h1>
            </div>
            <div style="text-align:center">        
                <p style="font-weight: bold">Exquisite Technology inc., is an online store for products that are considered sought after but are only attainable from the other side of the pacific. 
                    We plan on providing consumers with these products with the best deal possible in terms of shipping and also customs. 
                    We’ve partnered with major shipping companies such as Canada Post, FedEx, and USPS, to ensure the best outcome of any order, time and fees wise.</p>
            </div>
        </section>
        <section>
            <div>
                <h1 style:"font-family:'Courier New'; padding: 1em;";">Our Office Location</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20545.443057346565!2d-119.42753087167463!3d49.93295653205325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537ded7da291f011%3A0x7ca879b9058df1a4!2sThe%20University%20of%20British%20Columbia%20Okanagan%20Campus!5e0!3m2!1sen!2sca!4v1638256432927!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>
    </body>


