<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products page</title>
    <h1>Product Page</h1>
</head>

<body>
    <h1 align="center" style="font-family: 'Courier New'; padding: 1em; border-width: 2em; border-radius: 5em; background:#f8decb; font-weight: bold;">The Barrel Boulevard Co.</h1>

    
</body>
</html>